* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:black;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, red, pink)
}

form {
    width: 75vmin;
    height: 100%;
    position: relative;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 50%;
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  div.scrollmenu li:hover {
    background-color: #777;
  }

button {
    width: 50%;
    margin-top: 5%;
}

button:hover {
    background-color: #dddddd;
}

label {
    color:black;
    font-weight: bold;
}

li.singleitem {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 25ch;
}

input {
    height: 5vmin;
    width: 100%;
    background-color: beige;
    border-color: bisque;
    font-weight: bold;
}

ul {
    list-style: none;
}

.list {
    width: 100%;
    background-color: white;
}

.list-items {
    padding: 10px 5px;
}

.list-items:hover{
    background-color: #dddddd;
}

.primaryView {
    text-align: center;
}