<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MoviePal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1 id="main" class="primaryView">Movie Recommendation from IMDB's Top 250 Movies </h1>
        <form action="/" method="post" class="primaryView" autocomplete="off">
            <div>
                <label>Enter Movie</label>
                <br>
                <input type="text" id="input" name="input" placeholder="Type movie here...">
                <ul id="ul" class="list"></ul>
                <button type="submit" id="enter">Enter</button>
            </div>
        </form>
    </div>
    <script src="/scripts/index.js"></script>
</body>
</html>