<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MoviePal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
<title>Page Title</title>
</head>
<body>

<h1>This is a Heading</h1>
<p><% movies.forEach(function(movie) { %>
    <li>
        <%= movie.name %>
        <img src = <%= movie.image %>>
    </li>
    <% }); %></p>
<script src="result.js"></script>
</body>
</html>